body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#container {
    text-align: center;
}

h1 {
    font-size: 4rem;
}

.p1 {
    font-size: 2em;
}

.p2 {
    font-size: 3em;
}

#btns {
    justify-content: center;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: repeat(3, minmax(280px, 280px));
    background-color: white;

}

button {
    background: white;
    justify-content: center;
    align-content: center;
}

@media only screen and (max-width: 600px) { 
    body { 
        width: 100% 
    } 
        
    h1 { 
        font-size: 3rem; 
    } 
    
    .p1 { 
        font-size: 1em; 
    } 
        
    .p2 { 
        font-size: 2em; 
    } 
    
    img { 
        width: 100% 
    } 
    
    #btns { 
        justify-content: center; 
        display: grid; grid-column-gap: 1%; 
        grid-template-columns: repeat(3, 33%); 
        background-color: white; } 
    }