html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
    background: linear-gradient(rgb(240, 211, 158) , orange);
}

#container {
    text-align: center;
    padding-top: 70px;
}

h1 {
    font-size: 4rem;
    color: brown;
}

.p1 {
    font-size: 2em;
    transition: all 1s ease-out;
}

.p2 {
    font-size: 3em;
    transition: all 1s ease-out;
}

#btns {
    justify-content: center;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: repeat(3, minmax(280px, 280px));
}

button {
    background: white;
    justify-content: center;
    align-content: center;
    border: 0px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1)
}

#newButton {
    font-size: 30px;
    border-radius: 30px;
    font-weight: 900;
    border: 2px solid black;
    padding: 5px 15px;
    background-color: black;
    color: white;
}

@media only screen and (max-width: 900px) { 
    body { 
        width: 100% 
    } 
        
    h1 { 
        font-size: 3rem; 
    } 
    
    .p1 { 
        font-size: 1.5em; 
    } 
        
    .p2 { 
        font-size: 2em; 
    } 
    
    img { 
        width: 100% 
    } 
    
    #btns { 
        justify-content: center; 
        display: grid; grid-column-gap: 1%; 
        grid-template-columns: repeat(3, 32%); 
    } 
}